body {
  padding: 0;
  background-color: #f2f2f2;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: #333;
  font-weight: 400;
  font-family: "PT Sans", "Arial", sans-serif;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^=icon-]::before, [class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
  font-weight: 400;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

.dates-and-people [class^=icon-] {
  text-align: center;
  position: absolute;
  font-size: 14px;
  line-height: 21px;
  color: #c2c2c2;
}

.dates-and-people [class^=icon-]:hover {
  color: black;
}

.dates-and-people .icon-calendar {
  right: 5px;
  top: 6px;
  font-size: 21px;
  line-height: 26px;
}

.dates-and-people [class^=icon-]:active {
  color: #81b3d2;
}

.dates-and-people .icon-plus {
  right: 12px;
  top: 11px;
}

.dates-and-people .icon-minus {
  right: 88px;
  top: 11px;
}

.icon-facebook::before {
  content: "\66";
}
.icon-twitter::before {
  content: "\74";
}

.icon-up-dir::before {
  content: "\25b2";
  width: auto;
}

.icon-up-dir {
  margin-right: 10px;
}

.icon-down-dir::before {
  content: "\25bc";
  width: auto;
}

.icon-check-off::before {
  content: "\2610";
}

.icon-check-on::before {
  content: "\2611";
}

.icon-calendar::before {
  content: "\e800";
}

.icon-plus::before {
  content: "\e801";
}

.icon-minus::before {
  content: "\e802";
}


.icon-youtube::before {
  content: "\f39e";
}

h1, h3.hotel-name, h2, .results-info h2, h3 {
  font-size: 21px;
  line-height: 26px;
  color: #000;
  font-weight: 700;
}

h2 {
  line-height: 21px;
}

h3 {
  font-size: 30px;
  line-height: 30px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  min-width: 768px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  padding-left: 6%;
  padding-right: 6%;
}

.user-search {
  padding-top: 27px;
  min-height: 217px;
  background: #414e54 url("../img/sedona-backgrounds/background-hotels.jpg") no-repeat 0 -50px;
  background-size: 100%;
  line-height: 21px;
  color: #fff;
}

.user-search fieldset {
  border: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.user-search legend {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 26px;
}

.user-search ul {
  margin-top: 0;
  margin-bottom: 0;
}

.user-search .hotels-infrastructure {
  width: 14.8%;
  float: left;
  margin-right: 101px;
}

.icon-check-label {
  display: block;
}

.hotels-type legend {
  margin-left: -1px;
}

input[type=checkbox] {
  display: none;
}

.list-element {
  position: relative;
  margin-bottom: 25px;
}

.list-element label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  float: left;
  width: 135px;
}

.list-element label::before {
  position: absolute;
  top: -3px;
  left: 0;
  font-size: 26px;
  margin-left: 0;
  width: auto;
}

input:checked + label::before {
  content: "\2611";
}

.list-element label:hover {
  color: #fefefe;
}

input:disabled + label, input:disabled + label:hover {
  color: #6a6a6a;
}

.user-search .hotels-type {
  width: 14.8%;
  float: left;
}

.hotels-type-list {
  list-style: none;
  padding-left: 0;
}

.user-search .hotels-price {
  width: 31.6%;
  float: right;
}

.content-right {
  float: right;
  width: 95%;
  min-width: 224px;
}

.hotels-price legend {
  margin-bottom: 11px;
  padding-left: 4px;
}

.price-controls {
  position: relative;
  margin-bottom: 21px;
  font-size: 0;
  border: 2px solid #fff;
  border-radius: 3px;
}

.half-width-price {
  width: 50%;
  padding: 5px 0;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  padding-right: 5px;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  cursor: pointer;
  word-break: break-all;
}

.price-controls .min-price {
  width: 55%;
}

.min-price + input {
  border: none;
  width: 45%;
  border-right: 2px solid white;
}

.price-controls .max-price {
  width: 49%;
}

.max-price + input {
  border: none;
  width: 51%;
}

.price-controls input {
  display: inline-block;
  margin: 0;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  color: inherit;
  font: inherit;
  vertical-align: middle;
  background: none;
  outline: none;
  font-size: 14px;
}

.range-controls {
  position: relative;
  min-width: 215px;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, .3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #fff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000;
  background: #fff;
}

.results-info {
  padding-top: 31px;
  padding-bottom: 29px;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px solid #e5e5e5;
}

.results-info h2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 6px;
  width: 158px;
  float: left;
}

.found-hotels {
  white-space: nowrap;
}

.results-info p {
  float: left;
  width: 100px;
  margin-top: 6px;
  margin-bottom: 0;
  margin-right: 15px;
  word-break: break-all;
}

.filters {
  float: left;
  width: 45%;
  margin-top: 6px;
  padding-left: 0;
  list-style: none;
  font-size: 0;
}

.filters li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 33px;
  font-size: 12px;
}

.filters li:last-child {
  margin-right: 0;
}

.filters a {
  text-decoration: none;
  color: rgba(0, 0, 0, .3);
  border-bottom: 1px dotted #81b3d2;
}

.filters a:hover {
  color: #81b3d2;
}

.filters a:active {
  color: #000;
  border-bottom: none;
}

.active a, .active a:active {
  color: #81b3d2;
  border-bottom: none;
}

.sort-controls {
  float: right;
  width: 60px;
  text-align: right;
  margin-top: 2px;
}

.sort-controls [class*=icon-]::before {
  margin-left: 0;
  margin-right: 0;
}

.sort-controls a {
  text-decoration: none;
  font-size: 23px;
  line-height: 23px;
  color: #ccc;
}

.sort-controls a[href]:hover {
  color: black;
}

.sort-controls a[href]:active, .sort-controls .active {
  color: #81b3d2;
}

.hotel-item {
  padding-top: 31px;
  padding-bottom: 29px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-about {
  float: left;
  width: 77%;
}

.hotel-about .hotel-photo {
  width: 135px;
  float: left;
  margin-right: 30px;
  line-height: 0;
}

.hotel-photo img {
  width: 135px;
  height: 90px;
}

.hotel-description {
  float: left;
  width: 68%;
}

.hotel-name {
  margin-top: -6px;
  margin-bottom: 7px;
}

.hotel-name a {
  color: #000;
  text-decoration: none;
}

.hotel-wrapper {
  float: left;
  max-width: 289px;
}

.hotel-wrapper p {
  margin-top: 0;
  margin-right: 1px;
  width: 111px;
  line-height: 21px;
  margin-bottom: 14px;
  word-break: break-all;
  display: inline-block;
  vertical-align: top;
}

.hotel-info, .hotel-book {
  display: inline-block;
  vertical-align: bottom;
  padding: 3px 17px;
  color: #fff;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
}

.hotel-info {
  background-color: #81b3d2;
  max-width: 111px;
  margin-right: 2px;
}

.hotel-book {
  max-width: 145px;
  background-color: #766357;
}

.hotel-rate {
  float: right;
  width: 150px;
  text-align: right;
}

.hotel-stars {
  margin-bottom: 62px;
  color: #81b3d2;
  font-size: 20px;
  position: relative;
}

.icon-star-four::before {
  content: "\2605   \2605   \2605   \2605";
  width: auto;
  position: absolute;
  right: -3px;
  top: -4px;
}

.icon-star-two::before {
  content: "\2605   \2605";
  width: auto;
  position: absolute;
  right: -4px;
  top: -3px;
}

.icon-star-three::before {
  content: "\2605   \2605   \2605";
  width: auto;
  position: absolute;
  right: -4px;
  top: -3px;
}

.hotel-rate p {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 16px;
  padding-right: 13px;
  background-color: #f2f2f2;
  color: #666;
}

.header-menu ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-size: 0;
  position: relative;
}

.header-menu li {
  display: inline-block;
  vertical-align: top;
  width: 22.85%;
  font-size: 14px;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-right: 10px;
}

.header-menu li:nth-child(n+6) {
  width: 20%;
}

.header-menu .menu-right {
  padding-right: 0;
  padding-left: 10px;
  text-align: right;
}

.header-menu a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
}

.header-menu a:hover, .hotel-name a:hover {
  color: #81b3d2;
}

.header-menu a:active, .hotel-name a:active {
  color: rgba(0, 0, 0, .3);
}

.active-list a {
  color: #766357;
}

.active-list a:hover {
  color: #604e43;
}

.active-list a:active {
  color: rgba(118, 99, 87, .3);
}

.header-menu .menu-logo {
  position: relative;
  padding: 0;
  width: 8.6%;
  height: 50px;
}

.menu-logo a {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu-logo img {
  width: 138px;
  height: 70px;
}

.logo {
  min-height: 509px;
  padding-top: 77px;
  background: url("../img/sedona-backgrounds/mask.png") no-repeat 0 100%,
              url("../img/sedona-backgrounds/background-index.jpg") no-repeat center 21%, #557fa4;
  background-size: 100% auto, cover;
}

.logo img {
  display: block;
  width: 458px;
  height: 352px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  padding-top: 60px;
  padding-bottom: 37px;
  text-align: center;
  background-color: white;
}

.about .about-title {
  width: 500px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;
}

.features {
  min-height: 256px;
  background-color: #eee;
}

.features.blue {
  background-color: #81b3d2;
}

.feature-item {
  float: left;
  width: 33.33%;
  width: calc(100%/3);
  min-height: 256px;
  padding-top: 47px;
  text-align: center;
  background-color: #eee;
  line-height: 21px;
  padding-bottom: 17px;
}

.small-features {
  font-size: 0;
}

.small-features .feature-item {
  display: inline-block;
  vertical-align: top;
  float: none;
  font-size: 14px;
}

.feature-item.blue {
  padding-top: 54px;
  color: #fff;
  background-color: #81b3d2;
}

.feature-item h2 {
  max-width: 151px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.blue h2 {
  color: #fff;
}

.feature-item .feature-description {
  width: 71.7%;
  margin-left: auto;
  margin-right: auto;
}

.feature-item:nth-child(2) .feature-description {
  width: 76%;
}

.feature-image {
  width: 66.67%;
  width: calc(100%/3*2);
  height: 256px;
  float: left;
  overflow: hidden;
}

.feature-item-number {
  margin-bottom: 21px;
}

.feature-image img {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.advices {
  font-size: 0;
}

.advice-item {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  min-height: 330px;
  width: 33.33%;
  width: calc(100%/3);
  font-size: 14px;
  padding-top: 161px;
  position: relative;
}

.advice-item b {
  display: block;
  margin-bottom: 24px;
  font-size: 21px;
  line-height: 21px;
  color: #000;
}

.advice-item p {
  padding-left: 47px;
  padding-right: 47px;
  line-height: 21px;
}

.advice-item.hotel::before {
  content: "";
  width: 76px;
  height: 76px;
  position: absolute;
  top: 61px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff url("../img/sedona-sprites/icon-sprite.png") no-repeat 0 0;
}

.advice-item.food::before {
  content: "";
  width: 76px;
  height: 76px;
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff url("../img/sedona-sprites/icon-sprite.png") no-repeat 1px -121px;
}

.advice-item.gift::before {
  content: "";
  width: 76px;
  height: 76px;
  position: absolute;
  top: 56px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff url("../img/sedona-sprites/icon-sprite.png") no-repeat 6px -235px;
}

.search-hotel {
  padding-top: 53px;
  text-align: center;
}

.search-hotel-title {
  margin-top: 0;
  margin-bottom: 26px;
}

.show-hotels {
  display: block;
  max-width: 568px;
  padding: 30px 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 44px;
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  color: #fff;
  background-color: #766357;
}

.dates-and-people {
  width: 568px;
  position: absolute;
  display: none;
  left: 50%;
  margin-left: -284px;
  z-index: 1;
  padding: 55px;
  background-color: #fff;
  font-weight: 700;
  font-size: 0;
  color: #000;
}

@-webkit-keyframes appearance {
  0% {
    -webkit-transform: translateY(-86px);
            transform: translateY(-86px);
  }

  60% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes appearance {
  0% {
    -webkit-transform: translateY(-86px);
            transform: translateY(-86px);
  }

  60% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.dates-and-people-appearance {
  display: block;
  -webkit-animation: appearance .5s;
  animation: appearance .5s;
}

.input-wrapper {
  margin-bottom: 29px;
  position: relative;
  font-size: 0;
}

.input-wrapper .text-label {
  width: 24.5%;
  padding-right: 10px;
  text-align: left;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  word-break: break-all;
}

.date-input {
  width: 75.5%;
}

.date-input input, .number-input input {
  width: 100%;
  border: none;
  background-color: #f2f2f2;
  padding: 6px 14px;
  padding-right: 35px;
  font-size: 14px;
  text-transform: uppercase;
}

.dates-and-people input:hover {
  outline: none;
  background-color: #ebebeb;
}

.dates-and-people input:focus {
  outline: 2px solid #e5e5e5;
  background-color: #fff;
}

.dates-and-people .text-label, .date-input, .number-input {
  display: inline-block;
  vertical-align: top;
}

.dates-and-people label {
  font-size: 14px;
  cursor: pointer;
}

.half-width {
  width: 50%;
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  vertical-align: top;
  font-size: 0;
}

.number-input {
  width: 50%;
}

.half-width input {
  border: none;
  width: 100%;
  padding-top: 7px;
  padding-left: 30px;
  padding-right: 35px;
  font-size: 14px;
  text-align: center;
  background-color: #f2f2f2;
}

.half-width .text-label {
  width: 50%;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 10px;
  text-align: left;
  word-break: break-all;
}

.text-label[for=children] {
  padding-left: 5px;
  padding-right: 26px;
  text-align: right;
}

.dates-and-people .field-error:focus, .dates-and-people .field-error {
  background: pink;
}

.dates-and-people button {
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 24px;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #fff;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.blue-btn:hover, .social-btn:hover {
  background-color: #669ec0;
}

.brown-btn:hover {
  background-color: #604e43;
}

.blue-btn:active, .social-btn:active {
  outline: none;
  background-color: #5496bd;
  color: rgba(255, 255, 255, .3);
}

.brown-btn:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, .3);
}

.map {
  min-height: 593px;
  background: #e1e6cf url("../img/sedona-backgrounds/map.jpg") center;
}

.footer {
  min-height: 120px;
  padding-top: 36px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, .9);
}

.footer.index {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer section {
  float: left;
  width: 33.33%;
  width: calc(100%/3);
}

.footer-content {
  text-align: center;
  font-size: 0;
}

.footer-hashtag div {
  padding: 10px 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  padding-top: 14px;
  margin-right: 6px;
  margin-bottom: 6px;
  font-size: 19px;
  line-height: 20px;
  text-decoration: none;
  vertical-align: top;
  color: white;
  background-color: #81b3d2;
}

.social-btn:last-child {
  margin-right: 0;
}

.footer-content p {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 21px;
}

.footer-copyright p {
  display: inline-block;
  color: #000;
  vertical-align: middle;
  max-width: 120px;
  margin-right: 3px;
  margin-top: 13px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  width: 113px;
  height: 39px;
  background: #fff url("../img/sedona-sprites/icon-sprite.png") no-repeat;
  background-position: -159px -16px;
  margin-left: 5px;
  margin-top: 5px;
}

.btn:hover {
  background-position: -159px -83px;
}

.btn:active {
  background-position: -159px -153px;
}
